<!doctype html>
<html>
<head>
    <title>All Races</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<style>
        body        { padding-top:80px; word-wrap:break-word; }
</style>
<body>
<div class="container">
	<% if (races) { %>
		<% for(var i=0; i<races.length; i++) {%>
	   		<p>  
	            <strong>Name</strong>: <a href="/races/<%= races[i]._id%>"> <%= races[i].Name %> </a><br>
	            <strong>Id</strong>: <%= races[i]._id %><br>
	            <strong>Description</strong>: <%= races[i].Description %>
	        </p>
		<% } %>
    <% } else { %>
        <p>Momenteel geen races</p>
    <% } %>
</div>
</body>
</html>