<!doctype html>
<html>
<head>
    <title>Single Race</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<style>
        body        { padding-top:80px; word-wrap:break-word; }
</style>
<body>
<div class="container">

    <% if (race) { %>
    	<p><strong>Race naam</strong>: <%= race.name %></p>
    	<p><strong>Omschrijving</strong>: <%= race.description %></p>
    	<p><strong>Startdatum</strong>: <%= race.start %></p>
    	<p><strong>Einddatum</strong>: <%= race.end %></p>
    	<p><strong>Waypoints</strong>:
    <% if(race.waypoints.length > 0) { %>
		<table>
			<thead>
				<th>Kroeg</th>
				<th>Place_id</th>
			</thead>
			<tbody>
			<% for(var i=0; i<race.waypoints.length; i++) {%>
		   		<tr>
		            <td><%= race.waypoints[i].name %></td>
		            <td> <%= race.waypoints[i].place_id %></td>
		        </tr>
			<% } %>
			</tbody>
		</table>
		</p>
	<% } else { %>
       	<p>Momenteel geen waypoints</p>
    <% } %>

    <p><strong>Deelnemers</strong>:
    <% if(race.waypoints.participants > 0) { %>
		<table>
			<thead>
				<th>Naam</th>
				<th>Id</th>
			</thead>
			<tbody>
			<% for(var i=0; i<race.participants.length; i++) {%>
		   		<tr>
		            <td><%= race.participants[i].name %></td>
		            <td><%= race.participants[i]._id %></td>
		        </tr>
			<% } %>
			</tbody>
		</table>
		</p>
	<% } else { %>
       	<p>Momenteel geen deelnemers</p>
    <% } %>

    <% } else { %>
        <p>Momenteel geen race</p>
    <% } %>
</div>
</body>
</html>